<ion-view view-title="Friend">
	<ion-content class="my_background" >
		<div class="my_background_2">
			<div class="row my_background_2">
				<div class="col col-25 col-center">
					<div class="profile_chat">
					  <a class="tab-item" href="#">
					    <i class="icon ion-ios-chatbubble-outline my-icon"></i>
					  </a>
					</div>
				</div>
				<div class="col col-50">
					<div>
						<img class="profile_image profile_image_border" ng-src="{{member.image}}">
					</div>
				</div>
				<div class="col col-25 col-center">
					<div class="profile_heart">
					  <a class="tab-item" href="#">
					    <i class="icon ion-ios-heart-outline my-icon"></i>
					  </a>
					</div>
				</div>
			</div>
			<div class="profile_name">
				<p>{{member.firstName}} {{member.lastName}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col col-34 col-center">
				<h5 class="my_text">{{member.talent}}</h5>

			</div>

			<div class="col col-33 col-center profile_location">
				<i class="icon ion-ios-location profile_location_icon"></i>
				<p class="my_text">{{member.location}}</p>
			</div>

			<div class="col col-33 col-center">
				<i class="icon ion-ios-heart my_like_icon"></i>
				<p class="like_number">20</p>	
			</div>
		</div>
		
		<hr/>

		<div class="row">
			<div class="col col-33">
				<h5 class="my_text">Description</h5>
			</div>
		  <div class="col col-67">
		  	<p class="my_text">{{member.specialization}}</p>
		</div>

	</ion-content>
</ion-view> 
