<ion-view view-title="Photo">
  <ion-content class="my_background_2">
	<div class="list card" ng-repeat="photo in photos">
		<div class="item item-avatar my_background">
			<img ng-src="{{photo.avatar}}" class="profile_image_border">
			<h2 class="my_text">{{photo.title}}</h2>
			<p class="my_text">{{photo.talent}}</p>
		</div>

		<div class="item item-image my_photo">
			<img ng-src="{{photo.image}}">
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left my_background">
			<a class="tab-item photo_text" href="#">
				<i class="icon ion-ios-paw my_icon_tomato"></i>
				{{photo.dislikesNumber}}
			</a>
			<a class="tab-item photo_text" href="#">
				<i class="icon ion-ios-paw my_icon_green"></i>
				{{photo.likesNumber}}
			</a>
		</div>
	</div>
	
  </ion-content>
</ion-view> 