<ion-view view-title="Photo">
  <ion-content class="my_background_2">
	<div class="list card">
		<div class="item item-avatar my_background">
			<img src="img/ionic.png">
			<h2></h2>
			<p></p>
		</div>

		<div class="item item-image">
			<img src="img/ionic.png">
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left my_background">
			<a class="tab-item" href="#">
				<i class="icon ion-thumbsup my_color"></i>
				Like
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-chatbox my_color"></i>
				Comment
			</a>
		</div>
	</div>
	
  </ion-content>
</ion-view> 