<ion-view view-title="Profile">
	<ion-content class="my_background">
		<div class="profile">
			<div class="row profile_row">
				<div class="col col-25 col-center">
					<div class="profile_chat">
					  <a class="tab-item" href="#">
					    <i class="icon ion-ios-chatbubble-outline my-icon"></i>
					  </a>
					</div>
				</div>
				<div class="col col-50">
					<div>
						<img class="profile_image profile_image_border" src="img/img-profile.jpg">
					</div>
				</div>
				<div class="col col-25 col-center">
					<div class="profile_heart">
					  <a class="tab-item" href="#">
					    <i class="icon ion-ios-heart-outline my-icon"></i>
					  </a>
					</div>
				</div>
			</div>
			<div class="profile_name">
				<p>Daria Kachailo</p>
			</div>
		</div>

		<div class="row">
			<div class="col col-50 col-center">
				<h4 class="my_text">Booty shake</h4>
				<p class="my_text">Kiev, Ukraine</p>
			</div>
			<div class="col col-50 col-center talant_number">
				<i class="icon ion-ios-heart my_like_icon"></i>
				<p class="like_number">20</p>	
			</div>
		</div>
		
		<hr/>

		<div class="row">
			<div class="col col-33">
				<h5 class="my_text">Description</h5>
			</div>
		  <div class="col col-67">
		  	<p class="my_text">My talant is so F*cking Awesome! I can twerk like nigga! ahahah)))</p>
		</div>

	</ion-content>
</ion-view> 