<ion-view view-title="Sign" ng-controller="SignUpCtrl">

	<ion-content class="my_background_2">
		<form name="signUpForm" class="list" ng-submit="addNew(signUpForm.$valid, newUser)" novalidate>

			<label class="item item-input item-stacked-label my_label">
			    <input type="text" class="my_input" placeholder=" First Name " ng-model="newUser.firstName" ng-minlength="3" ng-maxlength="40" required>
			</label>
			<label class="item item-input item-stacked-label my_label">
			    <input type="text" class="my_input" placeholder=" Last Name " ng-model="newUser.lastName" ng-minlength="3" ng-maxlength="40" required>
			</label> 
			<label class="item item-input item-stacked-label my_label">
			    <input type="text" class="my_input" placeholder=" Nickname " ng-model="newUser.nickname" minlength="3" ng-maxlength="40" required>
			</label>
			<label class="item item-input item-stacked-label my_label">
			    <input type="text" class="my_input" placeholder=" Talant " ng-model="newUser.talant" minlength="3" ng-maxlength="40" required>
			</label>
			<label class="item item-input item-stacked-label my_label">
			    <input type="email" class="my_input" placeholder=" Email " ng-model="newUser.email" required>
			</label>
			<label class="item item-input item-stacked-label my_label">
			    <input type="text" class="my_input" placeholder=" Password " ng-model="newUser.password" min-length="5" required>
			</label>

			<button type="submit" class="btn btn-default my_button" value="Submit">Submit</button>

		</form>
	</ion-content>

</ion-view> 